{% extends "base.html" %}
{% load staticfiles %}


{% block title %}{{project.name}} — ОСПП{% endblock %}

{% block scripts %}
  {% if form.errors %}
    <script type="text/javascript" src="{% static 'js/modal-form-errors.js' %}"></script>
  {% endif %}
  <script type="text/javascript" src="{% static 'js/upload-image-form.js' %}"></script>
{% endblock %}

{% block subnavigation %}
<!-- SUB NAVIGATION -->
<div id="subnav">
  <div class="wrap clearfix">
    <div class="col-8 left project-name">
      <h4>{{project.name}}</h4>
    </div>
    <div class="col-4 right text-right">
      <a href="" class="btn btn-green" data-toggle="modal" data-target="#uploadImage"><i class="fa fa-upload"></i> Загрузить файлы</a>
      {% if project.images %}
      <a href="{{request.path}}preview/" class="btn"><i class="fa fa-play"></i></a>
      <a href="" class="btn" data-toggle="modal" data-target="#projectShare"><i class="fa fa-share-alt"></i></a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}


{% block content %}
<!-- CONTENT -->
<div id="content" class="projects-detail">
  <div class="wrap clearfix">
  {# TODO: don't forget to make changes below #}
  {% if project.images %}
    {% for image in project.images %}
      <div class="proj-card col-3 left">
        <div class="proj-card-img">
          <img src="{{image.image.url}}" alt="">
          <div class="proj-card-img-overlay">
            <a href="{{request.path}}preview/?page={{forloop.counter}}" class="btn btn-green"><i class="fa fa-eye"></i> Посмотреть</a>
          </div>
        </div>
        <a href="" class="proj-card-info text-center">
          <div class="proj-card-info-title">
            {{image.image.name|cut:"./"}}
            <div class="proj-card-info-title-gradient"></div>
          </div>
          <div class="proj-card-info-secondary">
            <div class="proj-card-info-secondary-files">
              {{image.image.width}}x{{image.image.height}}
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  {% else %}
    <div class="text-center">
      <h4>В папке проекта нет ни одного файла.</h4>
      <p class="text-secondary">Как только вы добавите файлы в проект, они обязательно появятся здесь.</p>
    </div>
  {% endif %}

  </div>
</div>
{% endblock %}


{% block modals %}
<!-- MODALS -->

<!-- «Upload image» modal -->
<div class="modal fade" id="uploadImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Загрузить изображение</h4>
      </div>

      <form action="" method="POST" enctype="multipart/form-data" class="">
        <div class="modal-body">
            {% csrf_token %}
            {% if form.errors %}
            <div class="form-group">
              <p class="text-danger text-center">
                Обнаружены ошибки при заполнении формы.<br>
                Пожалуйста, попробуйте еще раз.
              </p>
            </div>
            {% endif %}
          <div class="form-group {% if form.image.errors %}has-error{% endif %}">
            <label for="project-name" class="control-label">Изображение:</label>
            {{form.image}}
          </div>
          <div class="form-group {% if form.project.errors %}has-error{% endif %}">
            <label for="project-text" class="control-label">Проект:</label>
            {{form.project}}
          </div>
        </div>

        <div class="modal-footer text-center">
          <input type="submit" name="submit" value="Загрузить">
        </div>
      </form>

    </div>
  </div>
</div>

<!-- «Project share» modal -->
<div class="modal fade" id="projectShare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Ссылка на проект</h4>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="project-name" class="control-label">Ссылка на просмотр файлов проекта:</label>
            <input type="text" class="form-control" id="project-share-link" value="{{request.build_absolute_uri}}preview/">
          </div>
        </form>
      </div>

      <div class="modal-footer text-center">
        <button type="button" id="project-share-copy" class="btn btn-green">Cкопировать в буфер обмена</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}