{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Проекты — ОСПП{% endblock %}

{% block subnavigation %}
<!-- SUB NAVIGATION -->
<div id="subnav">
  <div class="wrap clearfix">
    <div class="col-9 left">
      <div class="dropdown">
        <a id="proj-type-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Мои проекты <span class="text-secondary">({{projects|length}})</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="proj-type-dropdown">
          <li role="presentation" class="dropdown-header">
            Фильтр проектов
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a href="{% url 'projects' %}">
              <i class="fa fa-folder-open fa-fw"></i>&nbsp;
              Мои проекты <span class="text-secondary">({{projects|length}})</span>
            </a>
          </li>
          <li role="presentation">
            <a href="{% url 'archive' %}">
              <i class="fa fa-inbox fa-fw"></i>&nbsp;
              Архив <span class="text-secondary">({{archive|length}})</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-3 right text-right">
      <a href="" class="btn btn-green" data-toggle="modal" data-target="#projectNew"><i class="fa fa-plus"></i> Новый проект</a>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}
<!-- CONTENT -->
<div id="content">
  <div class="wrap clearfix">

  {% if projects %}
    {% for project in projects %}
      <div class="proj-card col-3 left">
        <div class="proj-card-img">
          <img src="
          {% if project.placeholder %}
            {{project.placeholder.image.url}}
          {% else %}
            {% static 'img/img-placeholder.png' %}
          {% endif %}
          " alt="">
          <div class="proj-card-img-overlay">
            <a href="{% url 'project_detail' project.id %}" class="btn btn-green"><i class="fa fa-eye"></i> Посмотреть</a>
          </div>
        </div>
        <a href="{% url 'project_detail' project.id %}" class="proj-card-info text-center">
          <div class="proj-card-info-title">
            {{project.name}}
            <div class="proj-card-info-title-gradient"></div>
          </div>
          <div class="proj-card-info-secondary">
            <div class="proj-card-info-secondary-date">{{project.date_create|date:"DATE_FORMAT"}}</div>
            <div class="proj-card-info-secondary-files">
              <i class="fa fa-comment-o"></i> {{project.comments|length}}
              <i class="fa fa-image"></i> {{project.images|length}}
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  {% else %}
    <div class="text-center">
      <h4>Пока не создано ни одного проекта.</h4>
      <p class="text-secondary">Как только вы создадите проект, он обязательно появится здесь.</p>
    </div>
  {% endif %}

  </div>
</div>
{% endblock %}


{% block modals %}
<!-- MODALS -->
<!-- «New project» modal -->
<div class="modal fade" id="projectNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Создать новый проект</h4>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="project-name" class="control-label">Имя:</label>
            <input type="text" class="form-control" id="project-name">
          </div>
          <div class="form-group">
            <label for="project-text" class="control-label">Описание:</label>
            <textarea class="form-control" id="project-text"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer text-center">
        <!-- <button type="button" class="btn">Отмена</button> -->
        <button type="button" class="btn btn-green">Cоздать проект</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}